---
Checks: "-*,\
boost-*,\
bugprone-*,\
-bugprone-branch-clone,\
-bugprone-narrowing-conversions,\
clang-analyzer-*,\
-clang-analyzer-cplusplus.NewDeleteLeaks,\
-clang-analyzer-deadcode.DeadStores,\
-clang-analyzer-optin.cplusplus.VirtualCall,\
misc-*,\
-misc-non-private-member-variables-in-classes,\
modernize-*,\
-modernize-avoid-c-arrays,\
-modernize-loop-convert,\
-modernize-use-auto,\
-modernize-use-emplace,\
-modernize-use-trailing-return-type,\
mpi-*,\
openmp-*,\
performance-*,\
portability-*,\
readability-*,\
-readability-convert-member-functions-to-static,\
-readability-implicit-bool-conversion,\
-readability-magic-numbers,\
-readability-named-parameter,\
-readability-qualified-auto,\
-readability-redundant-member-init,\
"
#WarningsAsErrors: "*"
...
